<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href=""></ion-back-button>
  </ion-buttons>
  <ion-title><ion-text class="header-text">Profile Options</ion-text></ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <div>
    <app-background />
  </div>
  <div class="content">

    <ion-list [inset]="true">
      <ng-container *ngFor="let option of profileOptions">
        <div class="tile" (click)="onTapOption(option)">
          <div>
            <ion-label>
              <ion-icon [name]="option.icon"></ion-icon>
              {{ option.option }}
            </ion-label>
          </div>
          <div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div>
      </ng-container>

      <hr>

      <div class="tile">
        <div>
          <ion-label>
            <ion-icon name="log-out-outline" color="danger"></ion-icon>
            Logout
          </ion-label>
        </div>
        <div></div>
      </div>
    </ion-list>
  </div>
</ion-content>