<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href=""></ion-back-button>
  </ion-buttons>
  <ion-title>Change Password</ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <div>
    <app-background />
  </div>
  <div class="content">
    <div class="form" [formGroup]="formGroup">
      <div class="input-item">
        <label class="label">Old Password*</label>
        <input [formControlName]="'oldPassword'" type="password">
        <p *ngIf="oldPasswordControl?.touched && oldPasswordControl?.errors?.['required']" class="error-text">Password
          is
          required</p>
        <p *ngIf="oldPasswordControl?.touched && oldPasswordControl?.errors?.['minlength']" class="error-text">Password
          must
          have
          a minimum of 6 characters</p>
      </div>
      <div class="input-item">
        <label class="label">New Password*</label>
        <input [formControlName]="'password'" type="password">
        <p *ngIf="passwordControl?.touched && passwordControl?.errors?.['required']" class="error-text">Password is
          required</p>
        <p *ngIf="passwordControl?.touched && passwordControl?.errors?.['minlength']" class="error-text">Password must
          have
          a minimum of 6 characters</p>
      </div>
      <div class="input-item">
        <label class="label">Confirm password*</label>
        <input [formControlName]="'confirmPassword'" type="password">
        <p *ngIf="confirmPasswordControl?.touched && confirmPasswordControl?.errors?.['passwordMismatch']"
          class="error-text">Passwords must match</p>
      </div>

      <ion-row class="btn-container">
        <ion-button class="btn actions-btn" [disabled]="formGroup.invalid" (click)="changePassword()">
          Update
        </ion-button>
      </ion-row>
    </div>
  </div>
</ion-content>